ss3roms.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
R/scratch.R
test/*
test_negEKE/*
test_posEKE/*
test_rec/*
inst/extdata/models/PacificHake/*
inst/extdata/models/retrospectives/*
!*/forecast.ss
!*/hake_control.ss
!*/hake_data.ss
!*/starter.ss
!*/wtatage.ss
!inst/extdata/models/PacificHake/forecast.ss
!inst/extdata/models/PacificHake/hake_control.ss
!inst/extdata/models/PacificHake/hake_data.ss
!inst/extdata/models/PacificHake/starter.ss
!inst/extdata/models/PacificHake/wtatage.ss
!inst/extdata/models/retrospectives/*/forecast.ss
!inst/extdata/models/retrospectives/*/hake_control.ss
!inst/extdata/models/retrospectives/*/hake_data.ss
!inst/extdata/models/retrospectives/*/starter.ss
!inst/extdata/models/retrospectives/*/wtatage.ss
*.png
*.exe
simulations/*/*/*.csv
# ss3 files
simulations/*/*/*
!bias_adjust/*/1
petrale/*/*
petrale/*/*.csv
ss3.b*
ss3.log
ss3.p*
ss3.r*
*.ss_new
varssave.tmp
runnumber.ss
echoinput.sso
fmin.log
ParmTrace.sso
console.output.txt
ss_summary.sso
gradfil*.tmp
cmpdiff.tmp
petrale_10
